* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #f4f4f4;
}

/* HEADER */
header {
    background-color: #5a3e2b;
    color: white;
    padding: 20px;
    text-align: center;
}

nav {
    margin-top: 10px;
}

nav a {
    color: white;
    margin: 0 10px;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

/* MAIN */
main {
    padding: 30px;
}

h2 {
    margin-bottom: 20px;
    text-align: center;
}

/* PRODUTOS */
.produtos {
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
}

.card {
    background-color: white;
    width: 250px;
    border-radius: 8px;
    padding: 15px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.card img {
    width: 100%;
    border-radius: 5px;
}

.card h3 {
    margin: 10px 0;
}

.card span {
    display: block;
    font-weight: bold;
    margin: 10px 0;
    color: #5a3e2b;
}

.card button {
    background-color: #5a3e2b;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    width: 100%;
    border-radius: 5px;
}

.card button:hover {
    background-color: #7a5238;
}

/* FOOTER */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 30px;
}
